{
  "Database": {
    "ConnectionString": "Server=localhost,1433;Database=Mobile;User Id=sa;Password=YourStrong\\!Passw0rd;TrustServerCertificate=True;",
    "DefaultSchema": "dbo",
    "AliasNamePattern": "{OBJECTNAME}",
    "Entities": [
      {
        "Name": "*ApplicationRole*",
        "Ignore": true
      }
    ]
  }
}
